
.App{ 
  width:100vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App header{ 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App form{ 
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.App section{ 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App section .left_view{ 
  width: 300px;
  height: 500px;
}

.App section .default_table{ 
size: 12px;
}
